<div class="login-page">
  <mat-card class="mat-elevation-z12">
    <mat-card-title style="text-align:center;">SignIn/SignUp</mat-card-title>
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
      <mat-tab label="Sign In">
          <mat-card-content>
            <form (ngSubmit)="login()">
              <mat-form-field>
                <input
                  matInput
                  [(ngModel)]="usuario"
                  placeholder="Email"
                  required
                  name="email"
                  ngModel
                  #email="ngModel">
                  <mat-error *ngIf="email.invalid">O Email é obrigatório</mat-error>
                <mat-icon matSuffix>email</mat-icon>
              </mat-form-field>

              <mat-form-field>
                <input
                  matInput
                  [(ngModel)]="senha"
                  placeholder="Senha"
                  type="password"
                  required
                  minlength="6"
                  name="password"
                  ngModel
                  #password="ngModel">
                  <mat-error
                    *ngIf="password.errors">
                    A Senha é obrigatório
                  </mat-error>
                  <mat-error
                    *ngIf="password.errors">
                    A senha deve ter comprimento 6
                  </mat-error>
                <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field>

              <!--<mat-checkbox>Lembre de mim!</mat-checkbox>-->
              <button
                mat-raised-button
                color="primary"
                class="login-button">
                Sign In
              </button>
              <!--<mat-spinner [diameter]="50" *ngIf="isLoading"></mat-spinner>-->
            </form>
          </mat-card-content>
      </mat-tab>

      <mat-tab label="Sign Up">
        <mat-card-content>
          <form id="formData" #userData="ngForm" (ngSubmit)="registerUser(userData.value)">
            <mat-form-field>
              <input
                matInput
                placeholder="Nome Completo"
                required
                name="firstname"
                ngModel
                #firstname="ngModel">
              <mat-icon matSuffix>perm_identity</mat-icon>
              <mat-error
                *ngIf="firstname.invalid">
                Nome é obrigatório
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <input
                matInput
                placeholder="Email"
                required
                name="email"
                ngModel
                #email="ngModel">
                <mat-error *ngIf="email.invalid">Email é obrigatório</mat-error>
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>

            <mat-form-field>
              <input
              matInput
              placeholder="Telefone"
              required
              name="telefone"
              ngModel
              #telefone="ngModel">
              <mat-error
                *ngIf="telefone.errors">
                O telefone é obrigatório
              </mat-error>
            <mat-icon matSuffix>phone</mat-icon>
          </mat-form-field>

            <mat-form-field>
              <input
                matInput
                placeholder="Senha"
                type="password"
                required
                minlength="6"
                name="password"
                ngModel
                #password="ngModel">
                <mat-error
                  *ngIf="password.errors">
                  A Senha é obrigatório
                </mat-error>
                <mat-error
                  *ngIf="password.errors">
                  A senha deve ter comprimento 6
                </mat-error>
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>

            <button
              mat-raised-button
              color="primary"
              class="login-button">
              Sign Up
            </button>
          </form>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
<lib-ng-toast></lib-ng-toast>