<h4 class="text-center">Registre-se aqui!</h4>

<form class="form mt-4" [formGroup]="cadastroUsuarioForm" (submit)="cadastrar()">

<div class="form-group">
  <input placeholder="E-mail" class="form-control" formControlName="email"/>

  <app-mensagem
  mensagem="E-mail obrigatório!"
  *ngIf="
    cadastroUsuarioForm.get('email')?.errors?.['required'] &&
    cadastroUsuarioForm.get('email')?.touched
    "
  ></app-mensagem>
  <app-mensagem
    mensagem="E-mail no formato incorreto!"
    *ngIf="
    cadastroUsuarioForm.get('email')?.errors?.['email'] &&
    cadastroUsuarioForm.get('email')?.touched
    "
  ></app-mensagem>

</div>

<div class="form-group">
  <input placeholder="Nome Completo" class="form-control" formControlName="fullName"/>

  <app-mensagem
    mensagem="Nome incorreto!"
    *ngIf="
    cadastroUsuarioForm.get('fullName')?.errors &&
    cadastroUsuarioForm.get('fullName')?.touched
    "
  ></app-mensagem>

</div>

<div class="form-group">
  <input placeholder="Usuário" class="form-control" formControlName="userName"/>

  <app-mensagem
    mensagem="Apenas caracteres minúsculos!"
    *ngIf="
    cadastroUsuarioForm.get('userName')?.errors?.['minusculo'] &&
    cadastroUsuarioForm.get('userName')?.touched
    "
  ></app-mensagem>

  <app-mensagem
    mensagem="Usuário já existe!"
    *ngIf="
    cadastroUsuarioForm.get('userName')?.errors?.['usuarioExiste']
    "
  ></app-mensagem>

</div>

<div class="form-group">
  <input type="password" placeholder="Senha" class="form-control" formControlName="password"/>
</div>

<button class="btn btn-primary btn-block">Cadastro</button>

</form>

<p>Já é um usuário? <a [routerLink]="['']">Faça Login!</a></p>
