<mat-toolbar>
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    
    Clínica Alpha
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav">

        <img src="https://i.pinimg.com/originals/64/34/d7/6434d72ce9e16251c4f41f4e5a146567.png" alt="" class="avatar mat-elevation-z8">

        <h4 class="name">{{nome}}</h4>
        <p class="designation">{{cargo}}</p>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button" [routerLink]="['/tela-inicial/', Id]">
            <mat-icon>home</mat-icon>
            <span> Início</span>
        </button>
        <button mat-button class="menu-button" routerLink="/medicos">
            <mat-icon>favorite</mat-icon>
            <span> Médicos</span>
        </button>
        <button mat-button class="menu-button" routerLink="/pacientes">
            <mat-icon>person</mat-icon>
            <span> Pacientes</span>
        </button>
        <button mat-button class="menu-button" routerLink="/consultas">
            <mat-icon>book</mat-icon>
            <span> Consultas</span>
        </button>
        <button mat-button class="menu-button" routerLink="/agenda">
            <mat-icon>library_books</mat-icon>
            <span> Agenda</span>
        </button>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button" routerLink="/">
            <mat-icon>input</mat-icon>
            <span> Sair</span>
        </button>

    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z4">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>