<div class="table-title">
  <div class="row">
    <div class="width-50">
      <label class="lblGer"><b>CONSULTAS &nbsp; > </b></label>
      <label class="lblGer"><b>CADASTRO</b></label>
    </div>
    <div class="width-50 ml-2">
      <button mat-raised-button class="btn" routerLink="/consultas">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
  </div>
</div>


<div class="content">
  <form #userData="ngForm" class="mat-elevation-z8" (ngSubmit)="AddConsulta(userData.value)">

    <div class="div-input">
      <br /><br />
      <mat-form-field class="width-100">
        <mat-label>Agenda</mat-label>
        <mat-select name="agenda" ngModel #agenda="ngModel" required>
          <mat-option value="Agenda-Jan">Agenda-Jan</mat-option>
          <mat-option value="Agenda-Fev">Agenda-Fev</mat-option>
          <mat-option value="Agenda-Mar">Agenda-Mar</mat-option>
          <mat-option value="Agenda-Abr">Agenda-Abr</mat-option>
          <mat-option value="Agenda-Mai">Agenda-Mai</mat-option>
          <mat-option value="Agenda-Jun">Agenda-Jun</mat-option>
          <mat-option value="Agenda-Jul">Agenda-Jul</mat-option>
          <mat-option value="Agenda-Ago">Agenda-Ago</mat-option>
          <mat-option value="Agenda-Set">Agenda-Set</mat-option>
          <mat-option value="Agenda-Out">Agenda-Out</mat-option>
          <mat-option value="Agenda-Nov">Agenda-Nov</mat-option>
          <mat-option value="Agenda-Dez">Agenda-Dez</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="width-50">
        <mat-label>Especialidade</mat-label>
        <mat-select name="occupation" ngModel #occupation="ngModel" [(ngModel)]="editConsultaForm.occupation" required (selectionChange)="onBookChange()">
          <mat-option value="Cardiologia">Cardiologia</mat-option>
          <mat-option value="Dermatologia">Dermatologia</mat-option>
          <mat-option value="Oftalmologia">Oftalmologia</mat-option>
          <mat-option value="Ortopedia e Traumatologia">Ortopedia e Traumatologia</mat-option>
          <mat-option value="Pediatra">Pediatra</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="width-50 ml-2">
        <mat-label>Médico</mat-label>
        <mat-select name="medico" ngModel #medico="ngModel" required>
          <mat-option *ngFor="let medico of medicos" [value]="medico.value">
            {{medico.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="example-container">
        <mat-form-field class="width-50">
          <mat-label>Data</mat-label>
          <input matInput [matDatepicker]="picker" name="data" ngModel #data="ngModel" required>
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="width-50 ml-2">
          <mat-label>Horário</mat-label>
          <input matInput name="horario" ngModel #horario="ngModel" required
                 [format]="24"
                 [ngxMatTimepicker]="pickerB"
                 placeholder="Horário"
                 readonly />
          <mat-icon matSuffix
                    (click)="pickerB.open()">
              watch_later
          </mat-icon>
      </mat-form-field>
      <ngx-mat-timepicker color="primary" #pickerB></ngx-mat-timepicker>
      </div>

      <mat-form-field class="width-100">
        <input type="text" matInput placeholder="Paciente" name="paciente" ngModel #paciente="ngModel" required pattern="[a-zA-Z ]*"
        minlength="2" />
        <mat-error>Digite um nome válido</mat-error>
      </mat-form-field>

      <mat-form-field class="width-50">
        <input type="text" matInput placeholder="Celular" name="celular" ngModel #celular="ngModel" required pattern="^[0-9-]*$"
        minlength="11"
        maxlength="11" />
        <mat-error>Digite um celular válido</mat-error>
      </mat-form-field>

      <mat-form-field class="width-50 ml-2">
        <input type="text" matInput placeholder="Telefone" ngModel name="telefone" #telefone="ngModel" pattern="^[0-9-]*$" required
        minlength="10"
        maxlength="10" />
        <mat-error>Digite um Telefone válido</mat-error>
      </mat-form-field>

      <mat-form-field class="width-50">
        <input type="text" matInput placeholder="CPF" name="cpf" ngModel #cpf="ngModel" required pattern="^[0-9-]*$" minlength="11"
        maxlength="11" />
        <mat-error>Digite um cpf válido</mat-error>
      </mat-form-field>

      <mat-form-field class="width-50 ml-2">
        <input type="text" matInput placeholder="Observações" name="observacoes" ngModel #observacoes="ngModel" />
      </mat-form-field>

      <section class="example-section">
        <mat-checkbox class="mat-chk" name="retorno" ngModel #retorno="ngModel" checked="false">Retorno</mat-checkbox>
      </section>

      <mat-divider></mat-divider>
      <button mat-raised-button class="btn-agn">AGENDAR</button>
    </div>
  </form>
</div>
<br>
<lib-ng-toast></lib-ng-toast>