<div class="table-title">
  <div class="row">
    <div class="width-50">
      <label class="lblGer"><b>MÉDICOS &nbsp; > </b></label>
        <label class="lblGer"><b>CADASTRO</b></label>
      </div>
    <div class="width-50 ml-2">
        <button mat-raised-button class="btn" routerLink="/medicos">
          <mat-icon>arrow_back</mat-icon>
        </button>
      </div>  
  </div>
</div>

<div class="content">
    <form id="formData" #userData="ngForm" class="mat-elevation-z8" (ngSubmit)="registerMedicos(userData.value)">

    <div class="div-input">
      <br/><br/>
    <mat-form-field class="width-50">
      <input
        type="text"
        matInput
        placeholder="Nome"
        name="Nome"
        ngModel
        #Nome="ngModel"
        required
        minlength="2"/>
      <mat-error>Digite um nome válido</mat-error>
    </mat-form-field>

    <mat-form-field class="width-50 ml-2">
        <input
          type="text"
          matInput
          placeholder="Sobrenome"
          name="Sobrenome"
          ngModel
          #Sobrenome="ngModel"
          required
          minlength="2"/>
        <mat-error>Digite um Sobrenome válido</mat-error>
      </mat-form-field>

    <mat-form-field class="width-50">
        <mat-label>Especialidade</mat-label>
        <mat-select name="Especialidade" ngModel #Especialidade="ngModel" required>
          <mat-option value="option">Pediatra</mat-option>
        </mat-select>
    </mat-form-field>
  
    <mat-form-field class="width-50 ml-2">
          <mat-label>Data de Nascimento</mat-label>
          <input matInput [matDatepicker]="picker" name="Nascimento" ngModel #Nascimento="ngModel" required>
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker ></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="width-50">
      <input
        type="text"
        matInput
        placeholder="Celular"
        name="Celular"
        ngModel
        #Celular="ngModel"
        required
        minlength="11"/>
      <mat-error>Digite um celular válido</mat-error>
    </mat-form-field>

    <mat-form-field class="width-50 ml-2">
      <input
        type="text"
        matInput
        placeholder="Telefone"
        ngModel
        name="Telefone"
        #Telefone="ngModel" />
      <mat-error>Digite um Telefone válido</mat-error>
    </mat-form-field>

    <mat-form-field class="width-50">
      <input
        type="text"
        matInput
        placeholder="CRM"
        name="CRM"
        ngModel
        #CRM="ngModel"
        required
        minlength="11"/>
      <mat-error>Digite um crm válido</mat-error>
    </mat-form-field>

    <mat-form-field class="width-50 ml-2">
      <mat-label>UF</mat-label>
      <mat-select name="UF" ngModel #UF="ngModel" required>
        <mat-option value="option">SP</mat-option>
      </mat-select>
  </mat-form-field>

    <mat-form-field class="width-50">
      <input
        type="text"
        matInput
        placeholder="Email"
        name="Email"
        ngModel
        #Email="ngModel"
        required />
    </mat-form-field>

    <section class="example-section">
      <mat-checkbox class="mat-chk">Ativo</mat-checkbox>
    </section>

    </div>
    <button mat-raised-button class="btn-agn">CONFIRMAR</button>
  </form>
</div>

