<div class="table-title">
  <div class="row">
    <div class="width-50">
      <label class="lblGer"><b>MÉDICOS &nbsp; > </b></label>
        <label class="lblGer"><b>CADASTRO</b></label>
      </div>
    <div class="width-50 ml-2">
        <button mat-raised-button class="btn" routerLink="/medicos">
          <mat-icon>arrow_back</mat-icon>
        </button>
      </div>  
  </div>
</div>

<div class="content">
    <form id="formData" #userData="ngForm" class="mat-elevation-z8" (ngSubmit)="AddEmployee(userData.value)">

    <div class="div-input">
      <br/><br/>
    <mat-form-field class="width-50">
      <input
        type="text"
        matInput
        placeholder="Nome"
        name="firstname"
        ngModel
        #firstname="ngModel"
        required
        minlength="2"/>
      <mat-error>Digite um nome válido</mat-error>
    </mat-form-field>

    <mat-form-field class="width-50 ml-2">
        <input
          type="text"
          matInput
          placeholder="Sobrenome"
          name="lastname"
          ngModel
          #lastname="ngModel"
          required
          minlength="2"/>
        <mat-error>Digite um Sobrenome válido</mat-error>
      </mat-form-field>

    <mat-form-field class="width-50">
        <mat-label>Especialidade</mat-label>
        <mat-select name="occupation" ngModel #occupation="ngModel" required>
          <mat-option value="Cardiologia">Cardiologia</mat-option>
          <mat-option value="Dermatologia">Dermatologia</mat-option>
          <mat-option value="Oftalmologia">Oftalmologia</mat-option>
          <mat-option value="Ortopedia e Traumatologia">Ortopedia e Traumatologia</mat-option>
          <mat-option value="Pediatra">Pediatra</mat-option>
        </mat-select>
    </mat-form-field>
  
    <mat-form-field class="width-50 ml-2">
          <mat-label>Data de Nascimento</mat-label>
          <input matInput [matDatepicker]="picker" name="nascimento" ngModel #nascimento="ngModel" required>
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker ></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="width-50">
      <input
        type="text"
        matInput
        placeholder="Celular"
        name="celular"
        ngModel
        #celular="ngModel"
        required
        minlength="11"/>
      <mat-error>Digite um celular válido</mat-error>
    </mat-form-field>

    <mat-form-field class="width-50 ml-2">
      <input
        type="text"
        matInput
        placeholder="Telefone"
        ngModel
        name="telefone"
        #telefone="ngModel" />
      <mat-error>Digite um Telefone válido</mat-error>
    </mat-form-field>

    <mat-form-field class="width-50">
      <input
        type="text"
        matInput
        placeholder="CRM"
        name="crm"
        ngModel
        #crm="ngModel"
        required
        minlength="11"/>
      <mat-error>Digite um crm válido</mat-error>
    </mat-form-field>

    <mat-form-field class="width-50 ml-2">
      <mat-label>UF</mat-label>
      <mat-select name="uf" ngModel #uf="ngModel" required>
        <mat-option value="sp">SP</mat-option>
      </mat-select>
  </mat-form-field>

    <mat-form-field class="width-50">
      <input
        type="text"
        matInput
        placeholder="Email"
        name="email"
        ngModel
        #email="ngModel"
        required />
    </mat-form-field>

    <section class="example-section">
      <mat-checkbox class="mat-chk" name="ativo" ngModel #ativo="ngModel">Ativo</mat-checkbox>
    </section>

    <mat-divider></mat-divider>
    <button mat-raised-button class="btn-agn">CONFIRMAR</button>
    </div>
  </form>
</div>
<lib-ng-toast></lib-ng-toast>

