.content{
    margin: 20px 50px 0px 50px;
}

button {
    color: white;
    background-color: green;
}

.btn-agn {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 90%;
}

.btn {
    margin-left: 80%;
    margin-top: 12px;
    font-size: 9px;
    line-height: 35px;
    height: auto;
    width: auto;
}

.table-title{
    background-color: rgb(226, 83, 126);
    height: 60px;
}

.div-input{
    margin: 0px 50px 0px 50px;
}

.width-50{width: 49%;}
.ml-1{margin-left: 1%;}
.ml-2{margin-left: 2%;}
.width-100{width: 100%;}
.width-25{width: 25%;}

.example-section {
    margin: 12px 0;
}

.mat-chk {
    color: black;
}

.lblGer {
    color: white;
    font-size: medium;
    margin: 20px 0px 0px 20px;
}