<div class="table-title">
    <div class="row">
      <div class="width-50">
        <label class="lblGer"><b>CONSULTAS &nbsp; > </b></label>
          <label class="lblGer"><b>VISUALIZAR</b></label>
        </div>
      <div class="width-50 ml-2">
          <button mat-raised-button class="btn" routerLink="/consultas">
            <mat-icon>arrow_back</mat-icon>
          </button>
        </div>  
    </div>
  </div>
  

<div class="content">
    <form #clienteForm="" class="mat-elevation-z8">

    <div class="div-input">
        <br/><br/>
    <mat-form-field class="width-100">
      <mat-label>Agenda</mat-label>
      <input
        type="text"
        matInput
        placeholder="Agenda"
        name="Agenda"
        ngModel
        [disabled]="true"/>
        <span>{{ consultaDetail.agenda }}</span>
    </mat-form-field>

    <mat-form-field class="width-50">
      <mat-label>Especialidade</mat-label>
      <input
        type="text"
        matInput
        placeholder="Especialidade"
        name="Especialidade"
        ngModel
        [disabled]="true"/>
        <span>{{ consultaDetail.especialidade }}</span>
    </mat-form-field>

    <mat-form-field class="width-50 ml-2">
      <mat-label>Médico</mat-label>
      <input
        type="text"
        matInput
        placeholder="Médico"
        name="Medico"
        ngModel
        [disabled]="true"/>
        <span>{{ consultaDetail.medico }}</span>
    </mat-form-field>

    <div class="example-container">
      <mat-form-field class="width-50">
        <mat-label>Data</mat-label>
        <input matInput [matDatepicker]="picker" [disabled]="true">
        <span>{{ consultaDetail.data }}</span>
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="width-50 ml-2">
        <mat-label>Horário</mat-label>
        <input
        type="text"
        matInput
        placeholder="Horario"
        name="Horario"
        ngModel
        [disabled]="true"/>
        <span>{{ consultaDetail.horario }}</span>
      </mat-form-field>
    </div>

    <mat-form-field class="width-100">
      <input
        type="text"
        matInput
        placeholder="Paciente"
        name="Paciente"
        ngModel
        [disabled]="true"/>
        <span>{{ consultaDetail.paciente }}</span>
      <mat-error>Digite um nome válido</mat-error>
    </mat-form-field>

    <mat-form-field class="width-50">
      <input
        type="text"
        matInput
        placeholder="Celular"
        name="Celular"
        ngModel
        [disabled]="true"/>
        <span>{{ consultaDetail.celular }}</span>
      <mat-error>Digite um celular válido</mat-error>
    </mat-form-field>

    <mat-form-field class="width-50 ml-2">
      <input
        type="text"
        matInput
        placeholder="Telefone"
        ngModel
        name="Telefone"
        [disabled]="true" />
        <span>{{ consultaDetail.telefone }}</span>
      <mat-error>Digite um Telefone válido</mat-error>
    </mat-form-field>

    <mat-form-field class="width-50">
      <input
        type="text"
        matInput
        placeholder="CPF"
        name="CPF"
        ngModel
        [disabled]="true"/>
        <span>{{ consultaDetail.cpf }}</span>
      <mat-error>Digite um cpf válido</mat-error>
    </mat-form-field>

    <mat-form-field class="width-50 ml-2">
      <input
        type="text"
        matInput
        placeholder="Observações"
        name="Observações"
        ngModel
        [disabled]="true" />
        <span>{{ consultaDetail.observacoes }}</span>
    </mat-form-field>

    <section class="example-section">
      <mat-checkbox class="mat-chk" [disabled]="true" [checked]="consultaDetail.retorno">Retorno</mat-checkbox>
    </section>
    </div>
    <br/>
  </form>
</div>