.content{
    margin: 16px;
    margin-left: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    color: white;
    background-color: #004a9f;
}

.width-50{width: 49%;}
.ml-1{margin-left: 1%;}
.ml-2{margin-left: 2%;}
.width-100{width: 100%;}
.width-25{width: 25%;}

.example-section {
    margin: 12px 0;
  }

.mat-chk {
    color: black;
}

.btn-agn {
    margin-top: 2%;
    margin-left: 90%;
}

.lbl-agn {
    color: black;
    font-size: large;
    position: absolute;
    margin-top: -10%;
    margin-left: -18%;
}