<div class="table-title">
    <div class="row">
      <div class="width-50">
        <label class="lblGer"><b>DASHBOARD </b></label>
        </div>
    </div>
  </div>
<br/>
<div class="">
    <div class="linha">
        <div class="div-content">
            <mat-card class="example-card">
                <mat-card-title-group>
                <mat-card-title class="card-title">{{consultas}}</mat-card-title>
                <mat-card-subtitle>Total de Consultas</mat-card-subtitle>
                <mat-icon>remove_red_eye</mat-icon>
                </mat-card-title-group>
                <mat-card-content>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="div-content">
            <mat-card class="example-card">
                <mat-card-title-group>
                <mat-card-title class="card-title">{{medicos}}</mat-card-title>
                <mat-card-subtitle>Médicos Disponiveis</mat-card-subtitle>
                <mat-icon>remove_red_eye</mat-icon>
                </mat-card-title-group>
                <mat-card-content>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="div-content">
            <mat-card class="example-card">
                <mat-card-title-group>
                <mat-card-title class="card-title">{{retornos}}</mat-card-title>
                <mat-card-subtitle>Retornos Hoje</mat-card-subtitle>
                <mat-icon>remove_red_eye</mat-icon>
                </mat-card-title-group>
                <mat-card-content>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="div-content">
            <mat-card class="example-card">
                <mat-card-title-group>
                <mat-card-title class="card-title">{{hoje}}</mat-card-title>
                <mat-card-subtitle>Consultas Hoje</mat-card-subtitle>
                <mat-icon>remove_red_eye</mat-icon>
                </mat-card-title-group>
                <mat-card-content>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="div-content">
            <mat-card class="example-card">
                <mat-card-title-group>
                <mat-card-title class="card-title">{{pacientes}}</mat-card-title>
                <mat-card-subtitle>Total de Pacientes</mat-card-subtitle>
                <mat-icon>remove_red_eye</mat-icon>
                </mat-card-title-group>
                <mat-card-content>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <br/><br/><br/>
    <div class="divChart" >
        <canvas id="myChart" height="120"></canvas>
    </div>
    <br/><br/>
</div>

