<div class="table-title">
    <div class="row">
      <div class="width-50">
        <label class="lblGer"><b>MÉDICOS &nbsp; > </b></label>
          <label class="lblGer"><b>VISUALIZAR</b></label>
        </div>
      <div class="width-50 ml-2">
          <button mat-raised-button class="btn" routerLink="/medicos">
            <mat-icon>arrow_back</mat-icon>
          </button>
        </div>  
    </div>
  </div>
  
  <div class="content">
      <form #employeeForm="ngForm" class="mat-elevation-z8">
  
      <div class="div-input">
        <br/><br/>
      <mat-form-field class="width-50">
        <input
          type="text"
          matInput
          placeholder="Nome"
          name="Nome"
          ngModel
          #Nome="ngModel"
          required
          minlength="2"
          [disabled]="true"/>
        <mat-error>Digite um nome válido</mat-error>
      </mat-form-field>
  
      <mat-form-field class="width-50 ml-2">
          <input
            type="text"
            matInput
            placeholder="Sobrenome"
            name="Sobrenome"
            ngModel
            #Sobrenome="ngModel"
            required
            minlength="2"
            [disabled]="true"/>
          <mat-error>Digite um Sobrenome válido</mat-error>
        </mat-form-field>
  
      <mat-form-field class="width-50">
          <mat-label>Especialidade</mat-label>
          <mat-select name="Especialidade" ngModel #Especialidade="ngModel" required [disabled]="true">
            <mat-option value="option">Pediatra</mat-option>
          </mat-select>
      </mat-form-field>
    
      <mat-form-field class="width-50 ml-2">
            <mat-label>Data de Nascimento</mat-label>
            <input matInput [matDatepicker]="picker" name="Nascimento" ngModel #Nascimento="ngModel" required [disabled]="true">
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker ></mat-datepicker>
      </mat-form-field>
  
      <mat-form-field class="width-50">
        <input
          type="text"
          matInput
          placeholder="Celular"
          name="Celular"
          ngModel
          #Celular="ngModel"
          required
          maxlength="11"
          pattern="^\d{3}\d{3}\d{4}$"
          [disabled]="true"/>
        <mat-error>Digite um celular válido</mat-error>
      </mat-form-field>
  
      <mat-form-field class="width-50 ml-2">
        <input
          type="text"
          matInput
          placeholder="Telefone"
          ngModel
          name="Telefone"
          #Telefone="ngModel" 
          [disabled]="true"/>
        <mat-error>Digite um Telefone válido</mat-error>
      </mat-form-field>
  
      <mat-form-field class="width-50">
        <input
          type="text"
          matInput
          placeholder="CRM"
          name="CRM"
          ngModel
          #CRM="ngModel"
          required
          minlength="11"
          [disabled]="true"/>
        <mat-error>Digite um crm válido</mat-error>
      </mat-form-field>
  
      <mat-form-field class="width-50 ml-2">
        <mat-label>UF</mat-label>
        <mat-select name="UF" ngModel #UF="ngModel" required [disabled]="true">
          <mat-option value="option">SP</mat-option>
        </mat-select>
    </mat-form-field>
  
      <mat-form-field class="width-50">
        <input
          type="text"
          matInput
          placeholder="Email"
          name="Email"
          ngModel
          #Email="ngModel"
          required 
          pattern="^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z0-9]{2,3}$"
          [disabled]="true"/>
      </mat-form-field>
  
      <section class="example-section">
        <mat-checkbox class="mat-chk" [disabled]="true">Ativo</mat-checkbox>
      </section>
  
      </div>
      <br/>
    </form>
  </div>
  
  