<div class="table-title">
  <div class="row">
    <div class="width-50 ml-1">
      <label class="lblGer"><b>MÉDICOS &nbsp; > </b></label>&nbsp;
      <label class="lblGer"><b>GERENCIAMENTO</b></label>
    </div>
    <div class="width-50 ml-2">
      <button mat-raised-button class="btn-add" routerLink="/add-medicos">
        <mat-icon>person_add</mat-icon>
      </button>
    </div>
  </div>
</div>

<div class="content">
  <div class="tb">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
      <!-- Position Column -->
      <ng-container matColumnDef="crm">
        <th mat-header-cell *matHeaderCellDef width="10%"> CRM. </th>
        <td mat-cell *matCellDef="let element"> {{element.crm}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef width="10%"> Nome </th>
        <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="sobrenome">
        <th mat-header-cell *matHeaderCellDef width="10%"> Sobrenome </th>
        <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="especialiidade">
        <th mat-header-cell *matHeaderCellDef> Especialiidade </th>
        <td mat-cell *matCellDef="let element"> {{element.occupation}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="fone">
        <th mat-header-cell *matHeaderCellDef width="12%"> Celular </th>
        <td mat-cell *matCellDef="let element"> {{element.celular}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="uf">
        <th mat-header-cell *matHeaderCellDef width="5%"> UF </th>
        <td mat-cell *matCellDef="let element"> {{element.uf}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="ativo">
        <th mat-header-cell *matHeaderCellDef width="5%"> Ativo </th>
        <td mat-cell *matCellDef="let element"> <mat-checkbox class="mat-chk" checked="{{ element.ativo }}" [disabled]="true"></mat-checkbox> </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <button mat-button [routerLink]="['/view-medicos/', element._id]">
            <mat-icon class="icon-eye">remove_red_eye</mat-icon>
          </button>
          <button mat-button [routerLink]="['/edit-medicos/', element._id]">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-button [value]="element._id" (click)="openDialog(element._id)">
            <mat-icon class="icon">delete_forever</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <span class="not-found" *ngIf="dataSource.length == 0" colspan="6">Nenhum médico encontrado</span>
  </div>
</div>
<br><br>
<lib-ng-toast></lib-ng-toast>